.mainTable{
    width:100%;
    padding:20px;
    font-size:1em;
}

.imgProduct{
    /* border: 1px solid #dddddd;*/
    padding:30px 20px;
    width:40%;

}

.imgProduct2{
    width:100%;
    height:230px;
}

.informationProduct{
    display:inline;
}

.mainPricesProduct{
    width:100%;
    height:230px
}

.priceProduct{
    border: 1px solid #dddddd;
    padding: 10px;
    margin: 5px 10px 15px 0;
    cursor: pointer;
}
